@layout MainLayout
@page "/"

@using GLAdmin.Client.V6.Pages._Test;

@inject HttpClient Http

<h1>EventBugTest</h1>
<div style="display: grid; grid-auto-columns: min-content;grid-column-gap: 20px">
    <div style="grid-column: 1/3;grid-row:1" >
        <p>Count : @count</p>
        <p>Parent Data Value : @Data?.Source / @Data?.Value</p>
    </div>
    <div style="grid-column: 1; grid-row: 2">
        <button @onclick="ClickHttpAsyncAwait">Async</button>
        <button @onclick="Click">Normal</button>
    </div>

    <div style="grid-column: 2; grid-row: 2">
        <DataSubView Data="Data"/>
    </div>
</div>

@code {
    private const string uri = @"https://postman-echo.com/response-headers?foo1=bar1&access-control-allow-origin=*";

    private static int count = 0;
    private TestData? Data { get; set; }

    protected override void OnInitialized()
    {
        Data = new TestData("default", 0);
    }

    public async Task ClickHttpAsyncAwait()
    {
        var response = await Http.GetAsync(uri);
        count++;
        Data = new TestData("HttpAA",(int)response.StatusCode+count);
    }

    public async Task Click()
    {
        await InvokeAsync(()=>{});
        count++;
        Data = new TestData("Normal",count);
    }

    public void Change()
    {
        if (Data != null)
        {
            Data.Value++;
        }
    }
}

